# backend 
PORT=8082
HOST_NAME=
NODE_ENV=development

# db connection
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=

# frontend
CLIENT_URL=http://localhost:5173

# jwt 
JWT_SECRET=

# admin user (seeder)
ADMIN_PASSWORD=
ADMIN_USERNAME=
ADMIN_EMAIL=

# vnpay
VNP_TMN_CODE=
VNP_HASH_SECRET=
